.dnd-component {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cardGrid [data-react-beautiful-dnd-droppable] {
  gap: 35px;
  margin-top: 2rem;
}


.search-bar {
  margin: 20px 0;
  padding: 10px;
  width: 100%;
}

.search-input {
  width: 60%;
  max-width: 80%;
  padding: 10px;
  border: 2px solid purple;
  border-radius: 5px;
  font-size: 16px;
}


.search-input::placeholder {
  color: gray;
}

.search-input:focus {
  outline: none;
  border-color: #6b38fb;
}



@media (max-width: 768px) {
  .cardGrid [data-react-beautiful-dnd-droppable] {
    gap: 15px;
  }
}


@media (max-width: 576px) {
  .cardGrid [data-react-beautiful-dnd-droppable] {
    gap: 15px;
  }
}